/* Header and Container*/
#header{
    color:black;
    text-align: center;
    display: inline;
}

#container{
    background-color: beige;
    flex-direction: column;
    display:flex;
    min-height: 100vh;
    
}


#activities{
    color: beige;
    background-color: black;
}

/* Profile image*/
#person{
    display:flex; 
    flex-direction:row;
    align-items: center;
}

#profile{
    height: 20rem;
    width: 20rem;
    border-radius: 15rem;
    margin-top: 2rem;
    margin-right: 3rem;
}

/* Intro paragraph */
#intro{
    font-weight:500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 3rem;
    line-height: 2rem;
    float: bottom;
}


/*   subtitles to sections   */
section{
    border-top: 1px solid black;
    margin: 3rem 3rem 4rem 3rem;
}

.sub-header{
    text-decoration: underline;
}

.sub-title{
    font-weight: bold;
}

#show-title{
   margin-left: 45%;
}


/* Slide show */
.slideshow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.slide{
    width: 40rem;
    height: 25rem;
    border: 5px solid  black;
}

#run-slides{
    width: 40rem;
    height: 25rem;
    border: 5px solid  beige;
}

.slider{
    color: black;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid beige;
}


#next{
    background: linear-gradient(to right, black, transparent);
}

#next-run{
    background: linear-gradient(to right, black, beige);
    color: white;
    border: 2px solid black;
}

#previous{
    background: linear-gradient(to left, black, transparent);
}

#previous-run{
    background: linear-gradient(to left, black, beige);
    color: white;
    border: 2px solid black;
}




