
/***** Containers */
.edu-container{
    width: 100%;
    height: 100%;
    background: black;
}

.section-header{
    /* padding-top: 20rem;
    padding-bottom: 12rem; */
    text-align: center;
    min-height: 25vh;
}

.phys-edu{
    margin-left: 10%;
    background-color: black;
    color:white;
    min-height: 50vh;
}

/*** Degree info */
.deg-name{
    padding: 0rem;
    margin: 0rem;
}

.degree-info{
    display: flex;
    flex-direction: column;
}

.degree-info span{ 
    margin: 0.5rem 0rem 0rem 1rem;
    font-size: large;
}