/*  Header for Work Experience & Education*/
.container{
    width: 50%;
    text-align: center;
}

.section-header{
    text-align: center;
    margin: 3rem 0 3rem 0;
    letter-spacing: 0.1em
}

#work-section-timeline{
    border-bottom: 2px solid black;
    padding: 1rem 0 1rem 0;
    position: relative;
    max-width: 100%;
    margin: 1rem auto;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

#ed-section{
    border-bottom: 2px solid black;
    padding: 1rem 0 1rem 0;
}


/*  Container for each component (Job/education) & images & create left-right pattern */
.comp-container{
    text-align: center;
    margin-left: 15%;
    margin-bottom: 3rem;
    width: 70%;
    border: 0.1rem solid black;
    border-radius: 10px;
}

.comp-container-left{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 3rem;
    width: 40%;
    border: 0.1rem solid black;
    border-radius: 10px;
    position:relative;
}

.comp-container-right{
    text-align: center;
    margin-left: 55%;
    margin-bottom: 3rem;
    width: 40%;
    border: 0.1rem solid black;
    border-radius: 10px;
    position: relative;
}

/** Image logos & arrows*/
.comp-container-left img{
    position: absolute;
    width: 10%;
    border-radius: 50%;
    padding-top: 0;
    left: 107.5%;
    z-index: 1;
}

.comp-container-right img{
    position: absolute;
    width: 10%;
    border-radius: 50%;
    right: 107.5%;
    z-index: 1;
}

.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    left: 100%;
    z-index: 5;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid black;
    right: -1rem;
}

.right-arrow{
    height: 0;
    width: 0;
    position: relative;
    z-index: 5;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid black;
    float: left;
    left: -1rem;
}
/* Timeline  & Header for each component */
.component-name{
    text-decoration: underline;
    letter-spacing: 0.1em
}

.timeline{
    font-weight: bold;
}
.company{
    font-weight: bold;
}

/* Description paragraphs*/
.description{
    letter-spacing: 0.1em;
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
    font-size:small;
}

/*  Customize SWE Job */
#swe-job{
    background-color: rgb(209, 200, 200);
}


/*  Customize TA Job */
#ta-job{
    background-color: rgb(179, 179, 237);
}

/*  Customize Tutor Job */
#tutor-job{
    background-color: rgb(22, 21, 21);
    color: beige;
} 


/****** Education Content ******/ 
.degree-info{
    display: flex;
    flex-direction: column;
}

.course-container{
    text-align: left;
    margin: 1rem;
}

.courses{
    display: grid;
    letter-spacing: 0.1em;
}


/** Line animation */
#work-section-timeline::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    z-index: 0;
    animation: moveline 5s linear forwards;
}

@keyframes moveline{    
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

#work-section-timeline:nth-child(2){
    animation-delay: 1s;  
}
#work-section-timeline:nth-child(3){
    animation-delay: 2s;  
}
#work-section-timeline:nth-child(4){
    animation-delay: 3s;  
}




