/*  Header for Work Experience & Education*/
.container{
    width: 100%;
    text-align: center;
    background-color: black;
}

.section-header{
    padding-top: 15rem;
    padding-bottom: 3rem;
}

.header-name{
    background-color: black;
    text-align: center;
    margin: 0rem;
    letter-spacing: 0.1em;
    color: beige;
    font-size: 3rem;
    min-height: 20rem;
}

.header-name:hover{
    letter-spacing: 0.5rem;
    text-shadow: 0 0 0.3rem hsl(0, 0%, 100%), 0 0 0.6rem hsl(0, 0%, 80%);
}

/* #work-section-timeline{
    border-bottom: 2px solid black;
    padding: 1rem 0 1rem 0;
    position: relative;
    max-width: 100%;
    margin: 1rem auto;
} */

#ed-section{
    border-bottom: 2px solid black;
    padding: 0rem;
    margin: 0rem;
}

/** Inner components (job positions) & image*/
.inner-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

.visual{
    margin: 0%;
    padding: 0%;
    align-items: center;
    display: flex;
}

#nn-vis{
    width: 60%;
    height: 60%;
    margin: 25%;
    padding: 0% 0% 0% 0%;
}


#exc-vis{
    position: absolute;
    width: 100%;
    border-radius: 0%;
    right: 160%;
    z-index: 1;
    margin-top: 50%;
}

/*  Container for each component (Job/education) & images & create left-right pattern */
.comp-container{
    text-align: center;
    margin-left: 15%;
    margin-bottom: 3rem;
    width: 70%;
    border: 0.1rem solid white;
    border-radius: 10px;
    color: white;
}

.comp-container-left{
    display: grid;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 3rem;
    width: 40%;
    border-radius: 10px;
    position:relative;
    z-index: 5;
    margin-top: 1rem;
    margin-bottom: 10rem;
    font-size: larger;
}

.comp-container-right{
    display: grid;
    text-align: center;
    margin-left: 55%;
    margin-right: 15%;
    margin-bottom: 3rem;
    width: 40%;
    left: 10%;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    margin-bottom: 10rem;
    font-size: larger;
}

/** Image logos & arrows*/
.comp-container-left img{
    position: absolute;
    width: 20%;
    border-radius: 50%;
    padding-top: 0;
    left: 102.5%;
    z-index: 1;
    margin-top: 1.25rem;
}


.comp-container-right img{
    position: absolute;
    width: 20%;
    border-radius: 50%;
    right: 102.5%;
    z-index: 1;
    margin-top: 1.5rem;
}

.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    left: 100%;
    z-index: 5;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid rgb(164, 164, 239);;
    right: -1rem;
}

.right-arrow{
    height: 0;
    width: 0;
    position: relative;
    z-index: 5;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid gold;
    float: left;
    left: -1rem;
}

/* Timeline  & Header for each component */
.component-name{
    text-decoration: underline;
    letter-spacing: 0.1em;
    font-size: 1.75rem;
    transition: transform 0.3s ease;
}

.component-name:hover{
    transform: translateY(-0.5rem);
}

.timeline{
    font-weight: bold;
}
.company-left{
    font-weight: bold;
    margin-top: 0rem;
}

.company-right{
    font-weight: bold;
    margin-top: -2rem;
}

/* Description paragraphs*/
.description{
    letter-spacing: 0.1em;
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
    font-size:medium;
}

/*  Customize SWE Job */
#swe-job{
    background-color: black;
    border: 5px solid rgb(164, 164, 239);
    color: white;
}
#naimor{
    color: rgb(113, 113, 202);
    text-shadow: 0.1em 0.1em 0.1em white;
    letter-spacing: 0.2em;
}
#shopify{
    color: rgb(78, 159, 78);
}
#parameters{
    color: rgb(165, 165, 83);
}
#threejs{
    color:aqua;
}

/*  Customize Tutor Job */
#tutor-job{
    background-color: black;
    color: beige;
    border: 5px solid rgb(141, 183, 201);
} 

#plu{
    text-shadow: 0.1em 0.1em 0.1em rgb(212, 255, 0);
    color:rgb(212, 209, 209);
    letter-spacing: 0.2em;
}

#ac-sys{
    color: rgb(75, 163, 75);
}

/*  Customize TA Job */
#ta-job{
    background-color: black;
    color: rgb(186, 186, 169);
    border: 5px solid rgb(205, 121, 173);
}

#lab{
    color:rgb(78, 159, 78);
}

#num-lab{
    color: rgb(206, 131, 131)
}

#cfeed{
    color:rgb(114, 114, 180);
}

/*  Apprentice Job */
#app-job{
    background-color: black;
    color:rgb(206, 199, 199);
    border: 5px solid rgb(141, 198, 152);
}

#utiligi{
    text-shadow: 0.1em 0.1em 0.1em orange;
}

#work-type{
    color: rgb(160, 210, 217);
}
#certs{
    color: rgb(234, 186, 96);
}


/**************** Education Content *****************/ 
.degree-info{
    display: flex;
    flex-direction: column;
}

.course-container{
    text-align: left;
    margin: 1rem;
}

.courses{
    display: grid;
    letter-spacing: 0.1em;
}

#phys-ed{

}

/*** Animations */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0); 
}






