/** Container */
.education{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: beige;
    color: black;
    z-index: 5;
}

/** lists */
.course-container, .skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    justify-content: center;
    margin-left: 2%;
    padding: 0;
}

.courses-taken, .skills-gained{
    list-style:none;
}


/*** 3JS Canvas */
#educationCanvas{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
