
/* Header */
h1{
    color:black;
    display: inline;
}

/* Learn more*/
#learn{
    margin: 1rem;
    padding-bottom: 1rem;
}

#learn p{
    font-weight: bolder;
}


/* Links */

#link{
    text-decoration: none;
    color: blue;
}


#link:hover{
    background-color: black;
    color: beige;
}

/* Contact form info */
#contact_container {
    background-color: black;
    height: 40rem;
    display: grid;
    height: 3rem;
}

form{
    display:flex;
}




