
/* Header & container */
.home{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    text-align: center;
    padding-top: 25%;
}

#home-header{
    /* margin: 0;
    padding-top: 20rem; */
    color:aquamarine;
    z-index: 10;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    transition: letter-spacing, text-shadow 1s ease;
}

#home-header:hover{
    letter-spacing: 0.5rem;
    text-shadow: 0 0 0.3rem hsl(0, 0%, 100%), 0 0 0.6rem hsl(0, 0%, 80%);
}

/* 3js Canvas */
#welcomeCanvas{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}



