
/* Header & container */
h1{
    color:black;
    display: inline;
}

.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    position: relative;
    z-index: 20;
    text-align: center;
}

/* Learn more*/
#learn{
    margin: 1rem;
    padding-bottom: 1rem;
}

#learn p{
    font-weight: bolder;
}


/* Links */

#link{
    text-decoration: none;
    color: blue;
}


#link:hover{
    background-color: black;
    color: beige;
}


/** Canvas for 3js **/
canvas {
  position: absolute;
  opacity: 0.3;
}





