
/* Header & container */
/* h1{
    color:black;
    display: inline;
} */

.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    position: relative;
    text-align: center;
}



/* 3js Canvas */
#welcomeCanvas{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}



