
/**** Header & Container */
.projects{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    position: relative;
}

#proj-site-header{
    color: white;
    z-index: 5;
    margin-top: 20rem;
    min-height: 20rem;
    text-align: center;
}

.proj-type-header{
    z-index: 5;
    margin-left: 10%;
    font-size: larger;
    padding-bottom: 3rem;
}

#swe-type{
    color:#c22085;
}

#ep-type{
    color:rgb(98, 20, 162);
}

/** Container for each project*/
.proj-container{
    z-index: 5;
    width: 70%;
    margin-left: 15%;
    min-height: 15vh;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
    position: relative;  
}

#odd-proj{
    border: 2px solid #c22085;
}

#even-proj{
    border: 2px solid rgb(120, 20, 162)
}

#last-proj{
    margin-bottom: 3rem;
    border: 2px solid rgb(120, 20, 162)
}

.proj-gap{
    min-height: 20vh;
}

/** Content inside container */
.proj-title{
    color: bisque;
    left: 0;
    font-size: 1.75rem;
    margin: 1rem;
}

.proj-desc{
    color: whitesmoke;
    font-size: 1.5rem;
    margin: 1rem;
}

.proj-note{
    color: #c22085;
    font-size: 1.5rem;
    margin: 1rem;
}

.hidden-note{
    color: #c22085;
    font-size: 1.5rem;
    margin: 1rem;
}


/** Animation of swipe */
.reveal::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0%;
    bottom: 0;
    z-index: 5;
    background-color: #c22085;
    animation: swipe-reveal 1s ease-out 0.5s forwards;
}

@keyframes swipe-reveal {
    0%{
        width: 0%;
        right: 100%;
        left: 0%;
    }
    50%{
        left: 0%;
        width: 100%;
        right: 0%;
        background-color: rgb(120, 20, 162);
        
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

/** Custom colors for names */
#naimor-inc{
    color: rgb(100, 100, 212);
}

/*** Tech stack message */
[data-msg]{
    position: relative;
}

/* , [data-msg]:hover::before */
[data-msg]:focus::before, [data-msg]:hover::before{
    content: attr(data-msg);
    position: absolute;
    width: 400%;
    min-width: 100%;
    padding: 1rem;
    background-color: transparent;
    left: 50%;
    top: -1rem;
    transform: translate(-50%, 100%);
    color: bisque;
    font-size:large;
}


/** icons */
#tech-stack-icon{
    color:white;
}

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FFFFFF transparent transparent;
    top: 11px;
    left: -24px;
}
/*** 3JS Canvas */
#spaceCanvas{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    min-height: 100%;
}

