.App {
  /*text-align:left;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  margin: 0;
}

/* For navigation tool */
.nav{
  background-color: black;
  color: white;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
  height: 5rem;
  border-bottom: 2px solid white;
}

.site-title{
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.site-title:hover{
  transform: translateY(-0.5rem);
}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  background-color: beige;
  color: black;
}

.nav li:active{
  background-color: green;
}

/* Footer */
.footer{
  background-color: black;
  color: beige;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  min-height: 18vh;
  border-top: solid 2px white;
}

.footer ul{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 1rem;
}

.left-footer{
  text-align: left;
}

.footer li{
  padding: 0.2em;
}

.right-footer{
  align-items: left;
}

.link{
  color: beige;
}


/** Icon */
.icon{
  width: 2em;
}
